@mixin contact {
  section {
    background-color: #0a1838;
    &.contact {
      padding: 20px 30px;
      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: space-evenly;
      align-items: center;

      .contact-left {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 15px;
        padding: 20px 0;
        max-width: 500px;
        width: 100%;
        h3 {
          font-size: 2em;
          color: #fff;
          span {
            color: #06acd4;
            border-bottom: 5px solid #06acd4;
            padding-bottom: 10px;
          }
          padding-bottom: 10px;
          border-bottom: 5px solid #737373;
        }
        p {
          color: #b5b3b3;
          font-size: 1em;
        }
        .get-contact {
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 15px;
          a {
            text-decoration: none;
            width: 80%;
          }
          .item-contact {
            display: flex;
            flex-direction: row;
            gap: 15px;
            align-items: center;
            font-family: "Poppins", sans-serif;
            transition: 0.5s;
            width: 100%;
            cursor: pointer;
            &:hover {
              img {
                background-color: #0583a3;
              }
            }
            img {
              padding: 10px;
              border-radius: 50%;
              border: 3px solid #06acd4;
              object-fit: cover;
              object-position: center;
              background-color: #06abd400;
              transition: 0.5s;
            }
            .text {
              h4 {
                color: #fff;
                font-size: 1.2em;
                font-weight: 500;
                height: 25px;
              }
              p {
                color: #06acd4;
                height: 18px;
              }
            }
          }
        }
        .socials-media {
          display: flex;
          gap: 12px;
          a {
            transition: 0.5s;
            &:hover {
              transform: scale(1.1) translateY(3px);
            }
            &:nth-child(3) img {
              transform: translateY(-5px);
            }
          }
        }
      }
      hr {
        height: 1px;
        background-color: #b5b3b3;
        background-color: #b5b3b3;
        color: #b5b3b3;
        border: 1px solid #b5b3b3;
      }

      .contact-right {
        position: relative;
        left: 0;
        display: flex;
        justify-items: center;
        .bg-contact {
          position: absolute;
          z-index: 0;
          width: 100%;
          height: auto;
          object-fit: cover;
          object-position: center;
          // animation: rotatebg 5s ease-in-out infinite;
        }
        .vector {
          z-index: 1;
          // max-height: 350px;
          max-width: 100%;
          height: auto;
          object-fit: cover;
          filter: drop-shadow(0px 5px 5px, rgb(255, 255, 255));
          animation: upndown 5s ease-in-out infinite;
        }
      }
    }
  }
  footer {
    background-color: #030a1b;
    text-align: center;
    padding: 35px;
    p {
      color: #f5f3f3;
      span {
        color: #06acd4;
      }
    }
  }
}
