@mixin experiences {
  section {
    background-color: #0a1838;
    &.experiences {
      padding: 50px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      .head-exp {
        display: flex;
        gap: 20px;
        align-items: center;
        margin: 0 30px;
        h2 {
          color: #f0f0f0;
          font-size: 3em;
          padding-bottom: 10px;
        }
        hr {
          height: 1px;
          width: 100%;
          background-color: #132e6c;
          color: #132e6c;
          border: 1px solid #132e6c;
        }
      }
      .expage {
        display: flex;
        justify-content: space-evenly;
        justify-self: center;
        gap: 30px;
        margin: 30px 50px;
        flex-wrap: wrap;
        .employment {
          // flex: 1;
          max-width: 350px;
          ul {
            list-style: none;
            gap: 10px;
            li {
              padding: 20px;
              border-left: 3px solid #233154;
              transition: 0.3s;
              color: #f0f0f0;
              &.active {
                border-left: 3px solid #06acd4;
                background-color: #074c5c;
                color: #29cbef;
              }
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
        .content-employ {
          // flex: 1;
          transition: 1s;
          max-width: 550px;
          background-color: #091532;
          padding: 50px;
          border-radius: 10px;
          .content {
            transform: scale(0);
            opacity: 0;
            height: 0;
            transition: opacity 0.75s ease, height 0.75s ease;
            h3 {
              color: #f0f0f0;
              font-size: 1.5em;
              font-weight: normal;
              max-width: 85%;
            }
            span {
              p {
                color: #a09e9e;
                font-size: 1em;
              }
              margin-bottom: 10px;
            }
            ul {
              list-style: ">";
              li {
                line-height: 1.5;
                color: #e4e4e4;
                font-size: 1em;
                margin: 10px 0px;
                padding-left: 15px;
                &::marker {
                  color: #06acd4;
                  font-weight: bold;
                }
              }
            }
          }
          .act {
            display: flex;
            flex-direction: column;
            gap: 10px;
            transform: scale(1);
            height: auto;
            opacity: 1;
          }
        }
      }
    }
  }
}
