@mixin myintro {
  .box-intro {
    background-color: #fff;
    z-index: 1000;
    position: fixed;
    opacity: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      // background-image: url(".././img/h44-b.webp");
      image-rendering: auto;
      z-index: 2000;
      object-fit: cover;
      object-position: center;
      overflow: hidden;
      opacity: 1;
      animation: loader 1.5s infinite;
    }
  }
}
