@mixin projects {
  section {
    background-color: #0a1838;
    &.projects {
      padding: 50px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      .head-project {
        display: flex;
        gap: 20px;
        align-items: center;
        margin: 0 30px;
        h2 {
          color: #f0f0f0;
          font-size: 3em;
          padding-bottom: 10px;
        }
        hr {
          height: 1px;
          width: 100%;
          background-color: #132e6c;
          color: #132e6c;
          border: 1px solid #132e6c;
        }
      }
      .description {
        color: #e4e4e4;
        text-align: center;
        align-self: center;
        padding: 15px 0px;
        max-width: 550px;
      }
      a {
        color: #e4e4e4;
        text-decoration: none;
        text-align: center;
        align-self: center;
        padding: 20px;
        background-color: #2960ef;
        border-radius: 10px;
        font-weight: 600;
        transition: 0.3s;

        &:hover {
          background-color: #132e6c;
        }
      }
      .contain {
        display: flex;
        width: 70vw;
        align-self: center;
        background-color: #0c1d46;
        padding: 20px;
        border-radius: 15px;
        margin: 20px 0;
      }
      .panel {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 60vh;
        border-radius: 20px;
        color: #fff;
        cursor: pointer;
        flex: 0.5;
        margin: 10px;
        position: relative;
        transition: flex 0.7s ease-in;
        -webkit-transition: all 0.45s ease-in;
        font-family: "Poppins", sans-serif;

        h3 {
          font-size: 24px;
          font-weight: 500;
          position: absolute;
          bottom: 40px;
          left: 30px;
          margin: 0;
          opacity: 0;
          letter-spacing: 1px;
        }
        p {
          font-weight: 500;
          font-size: 18px;
          color: #919191;
          position: absolute;
          bottom: 20px;
          left: 30px;
          margin: 0;
          opacity: 0;
        }
        span {
          font-size: 17px;
          font-weight: normal;
          position: absolute;
          bottom: 30px;
          right: 30px;
          margin: 0;
          opacity: 0;
        }
        span:last-of-type {
          font-size: 17px;
          font-weight: normal;
          position: absolute;
          top: 30px;
          right: 30px;
          margin: 0;
          opacity: 0;
          height: 20px;
          img {
            right: 115px;
            top: 2.5px;
            position: absolute;
            text-align: center;
          }
        }
        &.active {
          flex: 5;
          .gradient-overlay {
            border-radius: 20px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
              to bottom,
              rgba(0, 0, 0, 0),
              rgb(0, 0, 0)
            ); /* Sesuaikan nilai RGBA sesuai kebutuhan gelapnya */
          }
          h3 {
            opacity: 1;
            transition: opacity 0.3s ease-in 0.4s;
          }
          p {
            opacity: 1;
            transition: opacity 0.3s ease-in 0.4s;
          }
          span {
            opacity: 1;
            transition: opacity 0.3s ease-in 0.4s;
          }
        }
      }
    }
    .popup .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.7);
      z-index: 1;
      display: none;
      transition: all 0.3s;
    }

    .popup.active .overlay {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100vw;
      background: rgba(0, 0, 0, 0.7);
      z-index: 1;
      display: block;
    }

    .popup .content {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      background: #fff;
      padding: 20px;
      z-index: 2;
      border-radius: 30px;
      max-width: 350px;
      width: 90%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      gap: 10px;
      h2 {
        font-size: 18px;
        font-weight: 200;
        color: #919191;
      }
      img.project-img {
        max-width: 350px;
        width: 100%;
        border-radius: 15px;
      }
      .detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5px;
        .tech img {
          object-fit: cover;
          object-position: center;
        }
        span {
          font-weight: 500;
          color: #585858;
        }
      }
      p {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        color: #131212;
        padding: 0 0 0 10px;
        border-left: 2px solid #131212;
      }
      .menu {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        display: flex;
        justify-content: space-around;
        .github {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 10px 15px;
          border-radius: 10px;
          border: 2px solid #13121200;
          transition: all 0.4s ease-in-out;
          cursor: pointer;
          &:hover {
            border: 2px solid #131212;
          }
        }
        .preview {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 10px 15px;
          border-radius: 10px;
          border: 2px solid #2961ef00;
          color: #f0f0f0;
          background-color: #06acd4;
          transition: all 0.4s ease-in-out;
          cursor: pointer;
          &:hover {
            background-color: #0a1838;
            border: 2px solid #2960ef;
          }
        }
      }
    }

    .popup.active .content {
      transition: all 0.3s ease-in-out;
      transform: translate(-50%, -50%) scale(1);
    }

    .popup .close-btn {
      position: absolute;
      top: 20px;
      right: 10px;
      width: 40px;
      height: 30px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #131212;
      font-size: 60px;
      font-weight: 500;
      cursor: pointer;
    }
  }
}
