@mixin sizeRes {
  @media screen and (max-width: 1100px) {
    .left-content {
      order: 2;
      max-width: 475px !important;
    }
    .right-content {
      order: 1;
      margin: 0px;
    }
  }

  @media screen and (max-width: 520px) {
    .left-content {
      .greeting {
        h2 {
          font-size: 1.5em !important;
        }
        h1 {
          font-size: 3em;
        }
        h3 {
          font-size: 1em;
        }
      }
    }
    .kotak45 {
      display: none;
    }
    .left-about {
      img.poto {
        width: 80%;
        left: 10.5% !important;
        height: 80%;
        padding: auto;
        aspect-ratio: 3/4;
        top: -15% !important;
        // left: 0 !important;
        justify-items: center;
      }
    }
    section {
      &.contact {
        .contact-left {
          h3 {
            font-size: 1.8em;
          }
        }
      }
      &.projects {
        .panel {
          h3 {
            font-size: 1.2em !important;
          }
          p {
            font-size: 0.9em !important;
          }
          span {
            font-size: 0.9em !important;
            &:last-of-type {
              img {
                right: 100px;
                top: 1px;
              }
            }
          }
        }
        .popup {
          .content {
            max-width: 290px;

            .detail {
              flex-wrap: wrap-reverse;
            }
            p {
              font-size: 0.9em;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .contain {
      width: 100vw;
    }
    .panel:nth-of-type(1),
    .panel:nth-of-type(5) {
      display: none;
    }

    .menu-toggle input {
      position: absolute;
      width: 40px;
      height: 28px;
      left: -7.5px;
      top: -5px;
      opacity: 0;
      cursor: pointer;
      z-index: 10;
    }
    .menu-toggle {
      display: flex;
      padding-right: 20px;
    }

    .menu-toggle input #navmenu {
      justify-self: flex-end;
    }
    nav ul li a {
      text-decoration: none;
      color: #ffffff;
      font-size: 0.9em;
      transition: 0.5s;
      align-self: center;
      border-bottom: 2px solid rgba(17, 17, 17, 0);
      border-radius: 2px;
    }

    nav ul li a:hover {
      color: #ffffff;
      border-bottom: 2px solid rgb(252, 252, 252);
      transform: scale(1.1);
      border-radius: 2px;
    }
    nav ul {
      width: 100%;
      height: 100%;
      position: fixed;
    }
    nav ul.slide {
      opacity: 1;
      z-index: 9;
    }
    .menu-toggle {
      display: flex;
      z-index: 10;
    }
    nav ul {
      position: absolute;
      right: 0;
      top: 0;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      background-color: #0d204de3;
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(4.5px);
      -webkit-backdrop-filter: blur(4.5px);
      border: 1px solid rgba(255, 255, 255, 0.18);
      z-index: -1;
      transition: all 1s;
      opacity: 0;
      height: 60vh;
      width: 100vw;
      border-radius: 0 0 0 20px;
    }
    .brand img {
      max-width: 100px;
      aspect-ratio: 1 /1;
      align-self: center;
      padding-left: 0px;
    }
    .main-header {
      width: auto;
      padding: 20px;
      padding-top: 150px;
      .right-content {
        img {
          padding: 10px;
          margin: 0px;
        }
      }
    }
    .skills {
      .listAll {
        padding: 0px !important;
        .listTools {
          left: 0;
        }
      }
    }
    section {
      &.experiences {
        padding: 20px;
        .head-exp {
          display: flex;
          flex-direction: column;
          justify-items: start;
          margin: 0;
          h2 {
            font-size: 2.5em;
            padding-bottom: 0px;
          }
        }
        .expage {
          margin: 30px 0px;
          .employment {
            max-width: 370px;
            ul {
              overflow-x: scroll;
              width: 100%;
              display: flex;
              li {
                width: max-content;
                white-space: nowrap;
              }
            }
          }
          .content-employ {
            padding: 30px;
            h3 {
              color: #f0f0f0;
              font-size: 1.3em !important;
              font-weight: normal;
              max-width: 100% !important;
            }
          }
        }
      }
    }
    section {
      padding: 40px;
      &.projects {
        padding: 20px;
        .contain {
          height: 75vh;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
        }
        .panel {
          flex: 1;
        }
      }
    }
    .right-about {
      .main-about {
        h1 {
          font-size: 1.25em !important;
        }
        h2 {
          font-size: 3.5em !important;
        }
        p {
          font-size: 0.9em !important;
        }
      }
    }
  }

  /* mobile size */
  @media screen and (max-width: 576px) {
    .menu-toggle input {
      position: absolute;
      width: 40px;
      height: 28px;
      left: 45px;
      top: -5px;
      opacity: 0;
      cursor: pointer;
      z-index: 10;
    }

    nav {
      margin-bottom: 4.5%;
    }
    /* navbar */
    .menu-toggle {
      display: flex;
      padding-left: 50px;
    }

    .menu-toggle input #navmenu {
      justify-self: flex-end;
    }

    nav ul.slide {
      transform: translateX(0);
      opacity: 1;
    }

    section {
      &.projects {
        .head-project {
          h2 {
            white-space: normal;
          }
        }
      }
      &.experiences {
        .expage {
          margin: 30px 0px;
          .employment {
            max-width: 300px;
            ul {
              overflow-x: scroll;
              width: 100%;
              display: flex;
              li {
                width: max-content;
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
    .left-content {
      margin-top: 20px;
      .greeting {
        gap: 10px;
        h2 {
          font-size: 1.5em !important;
        }
        h1 {
          font-size: 2.5em;
        }
        h2.hello {
          font-size: 1em;
        }
        .role {
          h2 {
            font-size: 1.2em !important;
            white-space: nowrap;
          }
        }
      }
    }
    .right-about {
      .main-about {
        h4 {
          font-size: 1.25em !important;
        }
        h2 {
          font-size: 3.5em !important;
        }
      }
    }
  }
}
