@mixin mySkills {
  section {
    background-color: #0a1838;
    &.skills {
      padding: 50px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 50px;
      // justify-content: space-evenly;
      align-items: center;
      h2 {
        color: #f0f0f0;
        text-align: center;
        font-size: 3em;
        padding-bottom: 10px;
        border-bottom: 3px solid #2978ef;
      }
      .opsi {
        display: flex;
        flex-direction: row;
        align-self: start;
        gap: 10px;
        span {
          cursor: pointer;
          padding: 15px;
          width: 100px;
          background-color: transparent;
          border-radius: 5px;
          transition: 0.5s;
          &.selected {
            background-color: #132e6c;
            p {
              color: #29cbef;
              font-weight: 600;
            }
          }
          p {
            font-weight: normal;
            color: #f0f0f0;
            text-align: center;
          }
        }
      }
      .listAll {
        position: relative;
        padding: 10px;
        h3 {
          color: #0a1838;
        }
      }

      .listTools {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        transition: 0.3s;
        position: absolute;
        top: 0px;
        left: 20px;

        .minicard {
          display: flex;
          padding: 10px;
          gap: 15px;
          background-color: #f0f0f0;
          border-radius: 5px;
          width: 250px;
          align-items: center;
          border-left: 5px solid #2978ef;
          transition: 0.5s;
          // transition-delay: 0ms !important;
          &:hover {
            // box-shadow: 0 3px 10px rgba(255, 255, 255, 0.5);
            // filter: drop-shadow();
            img {
              box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
              transform: translateY(-5px) scale(1.05);
            }
          }

          // css card
          &:nth-child(2) {
            border-left: 5px solid #00a607;
            img {
              border: 2px solid #00a607;
            }
          }
          &:nth-child(3) {
            border-left: 5px solid #ef5929;
            img {
              border: 2px solid #ef5929;
            }
          }
          &:nth-child(4) {
            border-left: 5px solid #616161;
            img {
              border: 2px solid #616161;
            }
          }

          img {
            border-radius: 50%;
            border: 2px solid #2978ef;
            object-fit: cover;
            object-position: center;
            transition: 0.5s;
          }
          span.mskill {
            display: flex;
            flex-direction: column;
            gap: 3px;
            p {
              color: #4f4f4f;
            }
          }
        }
      }

      .listTech {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        transition: 0.3s;
        overflow: hidden;
        max-width: 100%;
        padding-bottom: 10px;
        .minicard {
          display: flex;
          padding: 10px;
          gap: 15px;
          background-color: #f0f0f0;
          border-radius: 5px;
          width: 250px;
          align-items: center;
          border-left: 5px solid #ef5929;
          transition: 0.5s;
          // transition-delay: 0ms !important;

          &:hover {
            // box-shadow: 0 3px 10px rgba(255, 255, 255, 0.5);
            // // filter: drop-shadow();
            img {
              box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
              transform: translateY(-5px) scale(1.05);
            }
          }
          // css card
          &:nth-child(2) {
            border-left: 5px solid #2978ef;
            img {
              border: 2px solid #2978ef;
            }
          }
          &:nth-child(3) {
            border-left: 5px solid #d6ce0f;
            img {
              border: 2px solid #d6ce0f;
            }
          }
          &:nth-child(4) {
            border-left: 5px solid #ff5baa;
            img {
              border: 2px solid #ff5baa;
            }
          }
          &:nth-child(5) {
            border-left: 5px solid #b395f3;
            img {
              border: 2px solid #b395f3;
            }
          }
          &:nth-child(6) {
            border-left: 5px solid #db643e;
            img {
              border: 2px solid #db643e;
            }
          }
          &:nth-child(7) {
            border-left: 5px solid #2960ef;
            img {
              border: 2px solid #2960ef;
            }
          }
          &:nth-child(8) {
            border-left: 5px solid #8550f5;
            img {
              border: 2px solid #8550f5;
            }
          }
          &:nth-child(9) {
            border-left: 5px solid #38bdf8;
            img {
              border: 2px solid #38bdf8;
            }
          }
          &:nth-child(10) {
            border-left: 5px solid #2978ef;
            img {
              border: 2px solid #2978ef;
            }
          }
          &:nth-child(11) {
            border-left: 5px solid #00a607;
            img {
              border: 2px solid #00a607;
            }
          }
          &:nth-child(12) {
            border-left: 5px solid #ef5929;
            img {
              border: 2px solid #ef5929;
            }
          }
          &:nth-child(13) {
            border-left: 5px solid #616161;
            img {
              border: 2px solid #616161;
            }
          }

          img {
            border-radius: 50%;
            border: 2px solid #ef5929;
            object-fit: cover;
            object-position: center;
            transition: 0.5s;
          }
          span.mskill {
            display: flex;
            flex-direction: column;
            gap: 3px;
            p {
              color: #4f4f4f;
            }
          }
        }
      }
    }
  }
}
