@use "intro" as i;
@use "home" as h;
@use "responsive" as r;
@use "animation" as a;
@use "nav" as n;
@use "about" as ab;
@use "skills" as ms;
@use "experiences" as ex;
@use "projects" as pr;
@use "contact" as c;

html {
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 10px;
  }

  /*!sc*/
  &::-webkit-scrollbar-track {
    // background: #0a1838;
    background: transparent;
  }

  /*!sc*/
  &::-webkit-scrollbar-thumb {
    opacity: 1;
    background-color: #00327c;
    border: 3px solid #0a1838;
    border-radius: 10px !important;
  }
}

// font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Poppins:wght@200&family=Poppins:wght@500&family=Raleway:wght@800&family=Mulish:wght@500&family=Raleway:wght@500&family=Teko&display=swap");

// reset and default
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #0f172a;
  font-family: "Raleway", sans-serif;
}

// COLOR VARIABLE
$primary-color: #29cbef;
$secondary-color: #201f1f;
$text-color: #fff;

// CONTAINER
.container {
  max-height: 100%;
  header {
    @include h.bg-head();
  }
}

// scrollOnTop
#progress {
  position: fixed;
  bottom: 50px;
  right: 20px;
  height: 50px;
  width: 50px;
  display: none;
  place-items: center;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 10px;
  z-index: 2;
  img {
    object-fit: cover;
    object-position: center;
    transform: rotate(315deg) translateY(5px) translateX(-5px);
    margin-bottom: 10px;
  }
}
#progress-value {
  display: block;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  background: linear-gradient(to right bottom, #0159de, #29cbef);
  transition: 0.5s;
  border-radius: 50%;
  display: grid;
  place-items: center;
  z-index: 2;
}

// HEADER
@include h.mainHeader();

// NAVBAR CSS
@include n.navbarMenu();

// ABOUT ME
@include ab.aboutMe();

// MY SKILLS
@include ms.mySkills();

// EXPERIENCES
@include ex.experiences();

// PROJECTS
@include pr.projects();

// CONTACT
@include c.contact();

// ANIMATION CSS
@include a.allAnimation();

// RESPONSIVE CSS
@include r.sizeRes();

// INTRO
@include i.myintro();
